{% extends "layout.html.twig" %}
{% block page_title %}
    ajout coordonees
{% endblock %}
{% set active = 'Admin' %}

{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2>
                        Ajout de coordonées de l'association
                    </h2><hr>
                    {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}