{% extends "layout.html.twig" %}
{% block page_title %}
    ajout coordonees
{% endblock %}
{% set active = 'Admin' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2>
                        Ajout de coordonées de l'association
                    </h2><hr>
                    {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


