
<head>
    <link rel="stylesheet" href="{{asset('public/css/googleMap.css')}}" />
</head>
<div class ="map-area" id="map"></div>

    <!-- JS de localisation pour Google Map -->
        <script async defer type="text/javascript"src="{{ asset('public/js/googleMap.js') }}">
        </script>


    <!-- API GoogleMAP -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxlOhbSXRNlHzzGuimHxARGpESVqFfQwM&callback=initMap">
    </script>

