<!-- ********** Zone Slider ********** -->
<div class="hero-area">

    <!-- Slide photo -->
    <div class="hero-slides owl-carousel">
        <!-- Slide -->
        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{ asset('images/bg2.jpg') }});"></div>
        <!-- Slide -->
        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{ asset('images/bg1.jpg') }});"></div>
    </div>

    <!-- Slide texte -->
    <div class="hero-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-post-slide">
                        <!-- Slide -->
                        <div class="single-slide d-flex align-items-center">
                            <div class="post-number">
                                <p>1</p>
                            </div>
                            <div class="post-title">
                                <a href="single-blog.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex</a>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="single-slide d-flex align-items-center">
                            <div class="post-number">
                                <p>2</p>
                            </div>
                            <div class="post-title">
                                <a href="single-blog.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex</a>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="single-slide d-flex align-items-center">
                            <div class="post-number">
                                <p>3</p>
                            </div>
                            <div class="post-title">
                                <a href="single-blog.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex</a>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="single-slide d-flex align-items-center">
                            <div class="post-number">
                                <p>4</p>
                            </div>
                            <div class="post-title">
                                <a href="single-blog.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ********** Fin Zone Slider ********** -->