<!-- ========== partage sur réseaux sociaux ========== -->

<p>Partager cette publication </p>
<div class="widget-content">
    <div class="social-area d-flex justify-content-between">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/intent/tweet?text=Hello%20world"
        ><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-vimeo-v"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>

    </div>
</div>

<script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>