{% extends "layout.html.twig" %}
{% block page_title %}
    Mot de pass oublié
{% endblock %}
{% set active = 'Admin' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <div col-12>
                    <h3>Mot de passe oublié</h3>
                </div>
                <div class="col-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form method="post">

                        <h1 class="h3 mb-3 font-weight-normal">Votre Email</h1>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                        <button class="btn btn-lg btn-primary mt-2" type="submit">
                            Envoyer le mail !
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}