{% extends "layout.html.twig" %}
{% block page_title %}
    reset password
{% endblock %}
{% set active = 'Admin' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <div col-12>
                    <h3>Reset password</h3>
                </div>
                <div class="col-12">
                    <form method="post">

                        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <input type="hidden" name="token" value="{token}">

                        <button class="btn btn-lg btn-primary" type="submit">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}