<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:url"           content="http://localhost:8000/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Association ATA" />
        <meta property="og:description"   content="Site officiel de l'Association ATA " />
        {#<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />#}

        <title>
            {% block title %}
                {% block page_title '' %}
                {% block site_title 'ATA' %}
            {% endblock %}
        </title>
        {% block stylesheets '' %}
    </head>
<body>
    {% block body '' %}
    {% block javascripts '' %}
    {% block final_javascripts '' %}
</body>

</html>
