{% extends "layout.html.twig" %}
{% block page_title %}
    {% if app.request.requestUri == path('membre_inscription') %}
        Inscription
    {% else %}
        Modification
    {% endif %}
{% endblock %}
{% set active = 'Inscription' %}
{% block content %}
<div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
<div class="main-content-wrapper section-padding-25">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
{#{{ dump(app.request.requestUri)}}#}
                <h2>
                    {% if app.request.requestUri == path('membre_inscription') %}
                        Inscription
                    {% else %}
                        Modification
                    {% endif %}
                </h2>
                <hr>
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {# L'option novalidate permet de supprimer la validation html5#}
                {{ form(form,{attr:{novalidate: 'novalidate'}}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
