{% extends "layout.html.twig" %}
{% block page_title %}
    Liste des adhérants
{% endblock %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2>
                        Liste des adhérants
                    </h2>
                    <hr>

                </div>
            </div>
        </div>
    </div>
{% endblock %}