{% extends "layout.html.twig" %}
{% block page_title %}
    Evenements
{% endblock %}
{% set active = 'Adherer' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25-0">
        <div class="container">
            <div class="col-12">
                <h2>Modalités d'adhésions</h2>
            </div>
            <div class="col-12">
                <h3>
                    Par Bulletin :
                </h3>

            </div>
        </div>
    </div>
{% endblock %}
