{% extends "layout.html.twig" %}
{% block page_title %}
    Galerie
{% endblock %}
{% set active = 'Galerie' %}
{% block content %}
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url({{ asset('images/bg4.jpg') }});"></div>
    <div class="main-content-wrapper section-padding-25">
        <div class="container">
            <div class="row justify-content-center">
                <section id="gallery">
                    <div class="container">
                        <div id="image-gallery">
                            <div class="row">
                                <div class="single-blog-content col-12">
                                    <div class="post-meta">
                                        <h2>Photos</h2>
                                    </div>
                                </div>
                                {% for unePhoto in photos %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                    <div class="img-wrapper">
                                        <a href="{{ asset('images/photos/'~unePhoto.featuredImage) }}">
                                            <img src="{{ asset('images/photos/'~unePhoto.featuredImage) }}" alt="{{ unePhoto.titre }}" class="img-responsive">
                                        </a>
                                        <div class="img-overlay">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div><!-- End row -->
                        </div><!-- End image gallery -->
                    </div><!-- End container -->
                </section>
            </div>
        </div>
    </div>
{% endblock %}

