{% extends "layout.html.twig" %}
{% block page_title %}
    Accueil
{% endblock %}
{% block content %}
    {% include 'component/_sliderAccueil.html.twig' %}
    {% include 'component/_flashinfo.html.twig' %}
<div class="main-content-wrapper section-padding-25-0">
    <div class="container">
        <div class="row justify-content-center">

            <!-- Contenu -->
            <div class="col-12 col-lg-8">
                <div class="post-content-area mb-50">
                    <div class="title">
                        <h2>Derniers événements</h2>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post post-style-4 d-flex wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail post-affiche">
                            <img src="{{ asset('images/affiche1.jpg') }}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h4>Fête de la nature</h4>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta ">
                                <p><a href="#" class="post-date-affiche">23 - 27 mai 2018</a><br><a href="#" class="post-lieu">Lieu</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post post-style-4 d-flex wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail post-affiche">
                            <img src="{{ asset('images/affiche2.jpg') }}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="#" class="headline">
                                <h4>Festival Paris Cinéma</h4>
                            </a>

                            <!-- Post Meta -->
                            <div class="post-meta ">
                                <p><a href="#" class="post-date-affiche">3 - 9 juillet 2009</a><br><a href="#" class="post-lieu">Lieu</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SIDEBAR -->
            {% include 'component/_sidebar.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}

